<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Template • TodoMVC</title>
		<link rel="stylesheet" href="node_modules/todomvc-common/base.css">
		<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
		<!-- CSS覆盖——如果你不需要它就删除 -->
		<link rel="stylesheet" href="css/app.css">
	</head>
	<body ng-app="todoApp" ng-controller="todoController">
		<section class="todoapp">
			<header class="header">
				<h1>todos</h1>
				<form ng-submit="add()">
					<input ng-model="newTodo" class="new-todo" placeholder="What needs to be done?" autofocus>
				</form>
			</header>
			<!-- 这个部分应该默认隐藏，并在有todos时显示 -->
			<section class="main">
				<input id="toggle-all" class="toggle-all" type="checkbox" ng-model="selectAll" ng-click="toggleAll()">
				<label for="toggle-all">Mark all as complete</label>
				<ul class="todo-list">
					<!-- 这些都是为了显示列表项的结构 -->
					<!-- editing -->
					<li ng-repeat="item in todos | filter : state" ng-class="{editing:isEditingId==item.id,completed:item.completed}">
						<div class="view">
							<input ng-model="item.completed" class="toggle" type="checkbox" checked>
							<label ng-dblclick="edit(item.id)" >{{item.name}}</label>
							<button ng-click="remove(item.id)" class="destroy"></button>
						</div>
						<form ng-submit="save()">
							<input class="edit" ng-model="item.name" value="">
						</form>
					</li>
					
				</ul>
			</section>
			<!-- 这个页脚应该在默认情况下隐藏，并在有todos时显示 -->
			<footer class="footer">
				<!-- 这应该是默认的0项 -->
				<span class="todo-count"><strong>{{getActive()}}</strong> item left</span>
				<!-- 如果不执行路由，就删除它 -->
				<ul class="filters">
					<li>
						<a class="selected" href="#/" ng-click="all()">All</a>
					</li>
					<li>
						<a href="#/active" ng-click="active()">Active</a>
					</li>
					<li>
						<a href="#/completed" ng-click="completed()">Completed</a>
					</li>
				</ul>
				<!-- 如果没有完成的项，则隐藏 ↓ -->
				<button class="clear-completed" ng-click="clearAll()">Clear completed</button>
			</footer>
		</section>
		<footer class="info">
			<p>Double-click to edit a todo</p>
			<!-- 删除以下线 ↓ -->
			<p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
			<!-- 用你的名字和url来改变这个 ↓ -->
			<p>Created by <a href="http://todomvc.com">you</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
		<script src="libs/jquery.min.js"></script>
		<script src="libs/angular1.2.30.js"></script>
		<!-- script脚本。不要删除 ↓ -->
		<script src="node_modules/todomvc-common/base.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>
